<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final review</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="col-right">
        <header class="header">
            <div class="header__background"></div>
            <h1 class="header__title">El día que vi un mono de tres cabezas</h1>
        </header>
        <main>
          <section>
            <h2>La vida pirata, la vida mejor</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur facilis earum numquam, eaque natus hic, sint aliquam maiores, tempore dicta aperiam ipsa veritatis esse explicabo magni error obcaecati? Illo, fugit.</p>
          </section>
          <section>
            <h2>Insultas peor que una vaca</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, optio enim! Cupiditate accusamus officia fuga nobis repellat tenetur quos omnis ullam cumque ducimus et quas debitis, aut ad magnam voluptatum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Error molestias minus dolorum enim iusto culpa inventore modi repellat quaerat, deleniti veniam obcaecati architecto natus deserunt, ex at, voluptas sunt sapiente.</p>
          </section>
          <section>
            <h2>Esa vez que morí, pero era bromita</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptatum minus, eius tenetur quod aliquid saepe aperiam repellat pariatur maxime nobis quidem voluptatem architecto vel quo distinctio vero sequi dolorum!Dolore ratione sint unde aliquam nemo. Aliquid sapiente quo nobis illum voluptatum delectus temporibus corrupti iste minima hic assumenda repellendus aut amet cum nemo totam laborum exercitationem, omnis praesentium quia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam magnam quos, corrupti, atque maxime optio sint deserunt libero reprehenderit et dolores quas? Veritatis officiis, quod tempore ipsum corporis hic natus?</p>
          </section>
        </main>
      </div>
      <aside class="col-left">
        <section class="aside__author">
          <div class="mask">
            <img src="./assets/images/profile-image.jpg" alt="Una foto favorecedora del amigo Guybrush">
          </div>
          <h2>Guybrush Threepwood</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consectetur obcaecati facere esse odio nemo dolores impedit dolorum sapiente earum possimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, omnis minus? Quidem dicta beatae repudiandae hic omnis odit! Voluptatum sint cupiditate exercitationem! Delectus quisquam ad cupiditate quibusdam quos natus exercitationem!</p>
        </section>
        <section class="aside__links">
          <nav>
            <ul>
              <li><a href="#">Sección 1</a></li>
              <li><a href="#">Sección 2</a></li>
              <li><a href="#">Sección 3</a></li>
              <li><a href="#">Sección 4</a></li>
              <li><a href="#">Sección 5</a></li>
            </ul>
          </nav>
          <div>
            <ul>
              <li><a href="#">Categoría 1</a></li>
              <li><a href="#">Categoría 2</a></li>
              <li><a href="#">Categoría 3</a></li>
              <li><a href="#">Categoría 4</a></li>
              <li><a href="#">Categoría 5</a></li>
            </ul>
          </div>
        </section>
      </aside>
      <footer class="footer">
        <span>© 2019 - Guybrush Threepwood</span>
      </footer>
    </div>
  </body>
</html>
